:root{
    /*
    --text: #a7bf93;
    --back: #86716a;
    */
    --text: #000000;
    --back: #ffffff;
}

body{
    background-color: var(--back);
    color: var(--text);
}
a{
    color: var(--text);
}

h1{
    font-size: 1.7rem;
}

h2{
    font-size: 1.5rem;
}

header{
    font-size: 3rem;
    margin-bottom: 2%;
}

main{
    display: flex;
    /*border-top: var(--text) dashed 3px;*/
}

article{
    width: 60rem;
    padding-left: 30px;

}

nav{
    width: 12%;

    /*border-right: var(--text) dashed 3px;*/

    padding: 10px;

}

nav h1{
    font-size: 1.3rem;
}

nav h2{
    font-size: 1rem;
    margin-bottom: 0; /*overwriting default h2 thing*/
}


ul{
    list-style-type: "- ";
}

pre
{
    background-color: lightgray;
    padding: 3px;
    overflow: auto;
}

blockquote{
    background-color: lightgray;
    padding: 3px;
    margin: 0;
}
blockquote p{
 margin: 0;
}

img{
    width: 100%;
    margin-top: 10px;
}

.contacts{
    display: flex;
    gap: 5px;
}

#contactsHeader{
    margin-top: 30px;
}

/*
 green: a7bf93
 darker_green: 596854
 brown: 86716a
 */
