body{
    background-color: var(--back);
    color: var(--text);

    font-family: 'Courier New';
    transition: background-color 0.5s, color 0.5s;
}
a{
    color: var(--text);
}

h1{
    font-size: 1.7rem;
}

h2{
    font-size: 1.5rem;
}

header{
    font-size: 3rem;
    margin-bottom: 2%;
}

main{
    display: flex;
    /*border-top: var(--text) dashed 3px;*/
}

article{
    width: 60rem;
    padding: 0 30px 0 30px;

}

nav{
    width: 12%;

    /*border-right: var(--text) dashed 3px;*/

    padding: 10px;
    
    overflow: clip;

}

nav h1{
    font-size: 1.3rem;
}

nav h2{
    font-size: 1rem;
    margin-bottom: 0; /*overwriting default h2 thing*/
}


ul{
    list-style-type: "- ";
}

article li{
    margin-bottom: 5px;
}

pre
{
    background-color: var(--accentBack);
    padding: 3px;
    overflow: auto;
}

blockquote{
    background-color: var(--accentBack);
    padding: 3px;
    margin: 0;
}
blockquote p{
 margin: 0;
}

img{
    width: 40%;
    margin-top: 10px;
}

nav hr{
    margin-top: 30px;
    border-top: solid 1px var(--text);
}

.contacts{
    display: flex;
    gap: 5px;
    
    flex-wrap: wrap;
}

#contactsHeader{
    margin-top: 30px;
}

select {
  border: none;
  background: none;
  color: var(--text);
  transition: background-color 0.5s, color 0.5s;
}

select:hover {
   background-color: var(--accent);
   color: var(--back);
}


.webring{
    position: fixed;
    bottom: 0;
    right: 0;

    margin: 5px;
}

.webring h2{
    font-size: 1rem;
    margin: 0;
}

.webringContent{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}




@media (only screen and orientation: portrait) {
body, h1, h2{
    font-size: 2rem;
}
nav, nav h1, nav h2{
    font-size: 1.5rem;
}
main{
    flex-direction: column;
}

nav{
    height: 20vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 300) {
  body {
    font-size: WHATTpx;
  }
}

}
